@import "utilities";
@import "variables";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body, html {
  font-family: 'Montserrat', sans-serif;
}

.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}