@import "utilities";
@import "variables";

/* Fonts */

html {
  font-family: $main-font;
  font-size: calc(1em + 1vw);
  background-color: #212121;
}

.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}